doctype
head 
  link(rel='stylesheet', href='/css/robots.css')
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/js/snap.svg-min.js")
  script(src="/js/socket.io.js")


body
  svg(id="svg", width="200px", height="200px", viewBox="-100 -100 200 200")

  script(src="/js/robots-svg.js")